﻿@model BDD.Calculator.UI.Web.Models.AddNumbersModel

<h2>Calculator</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>First number:</td>
            <td>@Html.TextBoxFor(m => m.FirstNumber)</td>
            <td>@Html.ValidationMessageFor(m => m.FirstNumber)</td>
        </tr>
        <tr>
            <td>Second number:</td>
            <td>@Html.TextBoxFor(m => m.SecondNumber)</td>
            <td>@Html.ValidationMessageFor(m => m.SecondNumber)</td>
        </tr>
    </table>
    
    <input type="submit" value="Add" id="Add"/>
}

@if (Model != null && Model.Result.HasValue)
{
    <span>Result: @Model.Result</span>
}